.about-h6{
    color: var(--secondary-color);
    text-transform: uppercase;
}
.about-p{
    color: var(--secondary-color);
}
@media(max-width:550px){
    .about-h1{
        font-size: 35px !important;
    }
    .about-p{
        font-size: 16px;
    }
}