.green-box {
  border: 1px solid var(--border-color);
  background-color: #2f2f2f;
  color:var(--primary-color);
  padding: 6px 16px;
  
  font-size: 14px;
  gap: 10px; 
}
.round-green{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative ;
}
.round-green::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2ecc71;
    box-shadow: 0 0 6px rgba(46,204,113,0.7);
}
.round-green::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2ecc71;
    animation: pulse 1.5s infinite;
    opacity: 0;
}
@keyframes pulse{
    0%{
        transform: scale(0.8);
        opacity: 0.5;
    }
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}
.hero-h1{
    font-size: 60px;
    margin-top: 120px !important;

}
.word-span{
    background: linear-gradient(white,rgb(216, 216, 216));
    -webkit-backdrop-filter: text;
    -webkit-background-clip: text;
    color: transparent;
        font-family: 'Instrument Serif';

}
.hero-h4-1{
    color: var(--secondary-color);
}
.connect-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--primary-color);
    background-color: #2f2f2f;
    backdrop-filter: blur(15px);
    height: 50px;
    width: 180px;
    gap: 12px;
    transition: ease-in-out 0.2s;
}
.round{
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
.arrow-icon{
    color: black;
    font-size: 19px !important ;

}
.connect-btn:hover{
    background-color: #414141;
    .arrow-icon{
        transform: translateX(3px);
        transition: ease-in-out 0.4s !important;

    }
}
.copy{
    border: none;
    background:none;
    color: var(--primary-color);
    transition: ease-in-out 0.3s;
}
.copy:hover{
    color: rgb(183, 183, 183);
}
@media (max-width:570px){
    .hero-h1{
        font-size: 42px;
    }
    .hero-h4-1{
        display: none;
    }
   
}