.gradient-txt{
  background: linear-gradient(#ffffff,#393739);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Instrument Serif';
}
:root{
  --primary-color:'#ffff';
  --secondary-color:#999;
  --border-color:rgba(41, 41, 41, 0.37);
}
body{
  font-family: 'Manrope' !important;
  background-color: black !important;
}
:root::-webkit-scrollbar{
  display: none;
}
body a{
  text-decoration: none;
}